<footer id="footer">
  <div class="footer-top bg-primary">
    
      <div class="row">

        <div class="col-sm-6  footer-info">
          <h3> Food Court</h3>
          <p>A Platform that connects Customers with Restaurants.</p>
          <p>You can register your Restaurant here.</p>
            <p>Customers can choose  Restaurants for their Meals.</p>
          <p></p>
        </div>

       

        <div class="col-sm-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Pattambi, Palakkad <br>
            Kerala, Pin: 679336<br>
            India <br>
            <strong>Phone:</strong> +91 7510241732<br>
            <strong>Email:</strong> www.FoodCourtOnline.org<br>
          </p>
        </div>
    
    </div>
  </div>