.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    padding: 5%;
    background:inherit;
    border-radius: 25px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

p{
    
    text-align: center;
    font-weight: bold;
    color: #428bca;
}
.login-container .form{
    padding: 10%;
}
.btnSubmit
{
    margin-left: 25%;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #00cc22;
}


hr{
    width: 40%;
   background-color: #333 ;
}